.react-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-top: 9px;
    padding-bottom: 4px;
    border-radius: 3px;
}

.react-tagsinput--focused {
    border-color: #a5d24a;
}

.react-tagsinput-tag {
    color: #747474;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 0.25rem;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    margin-right: 3px;
}

.react-tagsinput-tag:hover {
    border: 1px solid #F27066;
    color: #F27066;
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: " ×";
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
}
