//footer colors
$footer-background-color: #09174a;
$footer-font-color: #ffffff;

//Bootstrap variables
// body color bg-light theme
$gray-900: #333333;
$gray-100: #F8F9F8;
$red: #f2706d;

// navbar colors
$navbar-light-color: #adadad;
$navbar-light-hover-color: #f2706d;
$navbar-light-active-color: $navbar-light-hover-color;
$dropdown-link-color: #717171;
$dropdown-link-hover-color: $navbar-light-hover-color;

//badge colors
$badge-color: #fafafa;
