$card-width: 46.8125rem;
$footer-height: 5.625rem;
$primary-font-size: 0.875rem;

// Bootstrap variables
$font-family-base: 'Roboto', Arial, sans-serif;
$h4-font-size: 1.375rem;

$navbar-light-toggler-border-color: none;
$card-border-width: 0;
$badge-pill-border-radius: 0.125rem;
$badge-font-size: 0.75rem;