.btn-primary {
    background-color: $cyan;
    border: 0;
    color: #fff;
    cursor: pointer;
    border: 1px solid $cyan;
    min-width: 140px;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    color: $cyan;
    background-color: transparent;
    border: 1px solid $cyan;
}

.btn-secondary {
    background-color: transparent;
    color: $cyan;
    border: 1px solid $cyan;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-secondary:hover {
    color: #fff;
    background-color: $cyan;
    border: 1px solid $cyan;
}

.btn-twitter {
    background-color: #00aced;
    border: 1px solid #00aced;
    color: #fff;
}

.btn-primary:focus, .btn-secondary:focus, .btn-twitter:focus {
    box-shadow: none;
}
