{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent-props": [1, 4],
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
    },
    "parser": "babel-eslint"
}
