html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4rem;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
}

.content {
    flex: 1;
}
