.row-container {
    height: 100vh;
}

.rocket-container {
    height: 90%;
}

.coming-soon {
    color: $blue-base-color;
}

.rocket {
    background-color: $blue-base-color;
}

.btn-danger {
    color: white;
}
