.navbar-toggler:focus {
    outline:none;
}

@include media-breakpoint-up(lg) {
    .navbar {
        .form-inline .form-control {
            width: 18.25rem;
            margin-right:2.125rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        padding-top: 0.8125rem;
        padding-bottom: 0.8125rem;

        .conflist__logo {
            margin-right: -28px;
        }

        .form-inline .form-control {
            width: 100%;
        }
    }
}

.register {
    background-image: linear-gradient(to right, #0d215f 0%, #0e225f 40%, #09174a 100%);
    color: #fff;
}

.register__text {
    width: 49.3125rem;
    font-size: $secondary-font-size;
}

.btn-danger {
    color: #fff;
    cursor: pointer;
}


