.profile-card {
    border-radius: 0.625rem;
    width: 41.8125rem;
    height: 39.75rem;
}

.profile-card__content {
    width: 26.0625rem;
    height: 32.25rem;
}

.label {
    color: $dropdown-link-color;
    font-size: $secondary-font-size;
}

.form-input, .form-input::placeholder {
    color: $gray-900;
    font-size: $tertiary-font-size;
}