.profile-card {
    border-radius: 0.625rem;
    max-width: 41.8125rem;
}

.profile-card__content {
    width: 26.0625rem;

    @include media-breakpoint-down(sm) {
        width: 80%;
    }

}

.label {
    color: $dropdown-link-color;
    font-size: $secondary-font-size;
}

.form-input, .form-input::placeholder {
    font-size: $tertiary-font-size;
}

.btn-primary {
    background-color: $red;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    color: $red;
    background-color: #fff;
    border: 1px solid $red;
}

.btn-secondary {
    background-color: white;
    color: $red;
    border: 1px solid $red;
    cursor: pointer;
}

.btn-secondary:hover {
    color: #fff;
    background-color: $red;
    border: 0;
}
