.profile-card {
    border-radius: 0.625rem;
    max-width: 41.8125rem;
}

.profile-card__content {
    width: 26.0625rem;

    @include media-breakpoint-down(sm) {
        width: 80%;
    }

}

.label {
    color: $dropdown-link-color;
    font-size: $secondary-font-size;
}

.form-input, .form-input::placeholder {
    color: $gray-900;
    font-size: $tertiary-font-size;
}

.btn-update {
    color: $red;
    background-color: white;
    font-size: $secondary-font-size;
}