.card {
    font-size: $primary-font-size;
    box-shadow: $global-box-shadow;
    transition: 0.3s ease-in-out;
    transform: scale(0.97);
    backface-visibility: visible;
}
.card:hover {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.12549019607843137);
    transform: scale(1);
}
.card-img-holder {
    flex: 1;
    object-fit: cover;
    min-height: 100%;
    background-size: 100% 100%;
    border-radius: 5px 0 0px 5px;
}
.card-img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    flex: 2;
    padding: 1.5rem 1.25rem 1rem 1.75rem;
}

.card__info {
    flex: 1;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
}

.card__button {
    flex: 1;
    text-align: right;
}

.card__dates {
    font-weight: $font-weight-light;
}

.card__attendees {
    position: absolute;
    top: 11%;
    right: 0;
}
.card-text {
    font-weight: $font-weight-light;
}

.card-title {
    transition: 0.3s ease-in-out;
    &:hover {
        color: #F27069;
        text-decoration: none;
    }
}

.badge-light {
    color: #747474;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 0.25rem;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.badge-light:hover {
    border: 1px solid #F27066;
    color: #F27066;
}

.card-subscription {
    max-width: 65.875rem;
    border-radius: 0.625rem;
    box-shadow: $global-box-shadow;
    backface-visibility: visible;

    .btn {
        transition: 0.3s ease-in-out;
        transform: scale(0.97);

        &:hover {
            transform: scale(1);
        }
    }

    @media (max-width:1100px) {
        width: 90%;
    }
}

.card-subscription__content {
    max-width: 49.75rem;
}
