.footer {
    background-color: $footer-background-color;
    height: $footer-height;
    // position: absolute;
    // bottom: 0;
    width: 100%;
}

.footer__text {
    color: $footer-font-color;
    font-size: 1.125rem;
}
