.navbar-toggler:focus {
    outline:none;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:active {
    background-color: $blue-base-color;
}

.navbar-dark {
    background-color: $blue-base-color;
}

@include media-breakpoint-up(lg) {
    .navbar {
        .form-inline .form-control {
            width: 18.25rem;
        }

        .nav-item .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
            transition: 0.3s ease-in-out;
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar {
        padding-top: 0.8125rem;
        padding-bottom: 0.8125rem;

        .conflist__logo {
            margin-right: -28px;
        }

        .form-inline .form-control {
            width: 100%;
            margin-top: $spacer * .5;
        }
    }

    .register {
        .background-img {
            .register__text, .register__title {
                padding: 0 $spacer;
            }
        }
    }

    .register__navitems {
        flex-direction: column;
    }

}

.register {
    background-color: $blue-base-color;
    color: #fff;
}

.register__text {
    max-width: 49.3125rem;
    font-size: 1.25rem;
}
