.profile-card {
    border-radius: 0.625rem;
    max-width: 41.8125rem;
}

.profile-card__content {
    width: 26.0625rem;

}

@include media-breakpoint-down(sm) {
    .profile-card__content {
        width: 80%;
    }
}
.label {
    color: $dropdown-link-color;
    font-size: $secondary-font-size;
}

.form-input, .form-input::placeholder {
    font-size: $tertiary-font-size;
}

.form-check-label {
    transition: .25s all ease;
}

/* checkbox styling */
.checkbox {
    display: none;
}
.form-check-label {
    position: relative;
    padding-left: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;

    &::before {
        content: '';
        border: 2px solid #bdc3c7;
        border-radius: 20%;
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        transition: .25s all ease;
    }
}

.checkbox + .form-check-label::after {
    content: "\2714";
    color: white;
}

.checkbox:checked + .form-check-label::before {
    background: $cyan;
    border-color: $cyan;
}
.checkbox + .form-check-label::after {
    transform: scale(0);
}
.checkbox:checked + .form-check-label::after {
    transform: scale(1);
}
