//Project colors
$blue-base-color: #09174a;
$cyan: #f2706d;

//footer colors
$footer-background-color: $blue-base-color;
$footer-font-color: #ffffff;

//Bootstrap variables
// body color bg-light theme
$gray-900: #333333;
$gray-100: #F8F9F8;

// navbar colors
$red: #f2706d;
$navbar-light-color: #adadad;
$navbar-light-hover-color: $cyan;
$navbar-light-active-color: $navbar-light-hover-color;
$dropdown-link-color: #717171;
$dropdown-link-hover-color: $navbar-light-hover-color;
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $cyan;
$navbar-dark-active-color: $navbar-dark-hover-color;

//badge colors
$badge-color: #fafafa;

.color-primary {
    color: $cyan !important;
}
