$footer-height: 5.625rem;
$primary-font-size: 0.875rem;
$register-navbar-height: 33.8125rem;
$secondary-font-size: 1rem;
$tertiary-font-size: 1.375rem;

// Bootstrap variables
$font-family-base: 'Roboto', Arial, sans-serif;
$h4-font-size: $tertiary-font-size;

$navbar-light-toggler-border-color: none;
$card-border-width: 0;
$badge-pill-border-radius: 0.125rem;
$badge-font-size: 0.75rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 649px,
  lg: 739px,
  xl: 749px
);

$container-max-widths: (
  sm: 540px,
  md: 620px,
  lg: 769px,
  xl: 779px
);
